<div class="row">
    <form class="col s6">
		<h5>Enter your list contents</h5>
        <div class="row">
            <div class="input-field col s12">
            	<textarea ng-model="rawText" ng-change="updateList()" id="listcontent" class="materialize-textarea"></textarea>
          		<label for="listcontent">One element per line </label>
            </div>
        </div>
    </form>
    <div class="col s6">
    	<h5>Verify the elements</h5>
    	<ul>
    		<li ng-repeat="element in list  track by $index">
			     <i class="tiny material-icons">label</i> {{ element }}
    		</li>
    	</ul>
        <p>{{ list.length }} elements, maximum {{ ((list.length)*(list.length-1))/2 }} comparisons</p>
    </div>
</div>
<div class="row" style="text-align: center;">
	<button class="btn-large waves-effect waves-light" ng-click="startSort()" type="submit" name="action">Start sort
	</button>
</div>